{% extends "_primary.html" %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Single Sign-On</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sign-in">Sign in</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Code</li>
  </ol>
</div>

{%- set email_code = code_type in ["email"] %}
{%- set sms_code = code_type in ["phone", "text", "sms"] %}
{%- set display_type = "Text Message" if sms_code else ("Email" if email_code else "") %}
{%- set device = "phone" if sms_code else ("email" if email_code else "") %}
{#- set input_pattern = "[0-9\-]*" if sms_code else ("[0-9a-z\-]*" if email_code else "") #}
{%- set input_pattern = "[2-9\-]*" %}
{#- set input_placeholder = "123-456" if sms_code else ("abc-def-hij" if email_code else "") #}
{%- set input_placeholder = "e.g. 234-567-892" %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <h2 class="govuk-heading-l">{{ (display_type + " ") if display_type else "" }}One-time Code</h2>

  {% if to_app_name %}
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Note</span>
      You're signing in to {{ to_app_name }}
    </strong>
  </div>
  {% endif %}

  <form action="{{ form_url }}" method="post">
    <div class="govuk-form-group {{ 'govuk-form-group--error' if code_fail else '' }}">
      <label class="govuk-label" for="code">
        We've emailed {{ '<span class="dotted-underline">' + email_callback + '</span>' if email_callback else "" }} a one-time code
      </label>
      {% if code_fail %}
      <p id="code-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> That appears to be wrong, please try again
      </p>
      {% endif %}
      <input class="govuk-input govuk-input--width-10 {{ 'govuk-input--error' if code_fail else '' }}" id="code" name="code" type="code" pattern="{{ input_pattern }}" placeholder="{{ input_placeholder }}" spellcheck="false" autocomplete="off">
    </div>

    <input type="hidden" id="csrf_form" name="csrf_form" value="{{ csrf_form }}">
    <input type="hidden" id="code_type" name="code_type" value="{{ code_type }}">
    <input type="submit" value="Continue" class="govuk-button" data-module="govuk-button"></input>
  </form>

</main>
{% endblock %}
