{% extends "_primary.html" %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Single Sign-On</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Dashboard</li>
  </ol>
</div>

<main class="govuk-main-wrapper govuk-body " id="main-content" role="main">
  <h2 class="govuk-heading-l">Dashboard</h2>

  <div>
    <p>
      You are signed in as <strong>{{ display_name_string }}</strong>.
    </p>
    <p>
      You can <a class="govuk-link" href="/profile">view and edit your profile here</a>, where you can change your display name and add a mobile number for multifactor authentication.
    </p>
  </div>
  <p>&nbsp;</p>

  <h2 class="govuk-heading-l">Applications</h2>
  <div>
  {%- if allowed_apps %}
      <p>{{ allowed_apps }}</p>
    {%- for a in allowed_apps %}
        <p>{{ a }}</p>
      {%- set app = allowed_apps[a] %}
      {%- if app["name"] and ((app["sign_in_url"] and app["dashboard_display"]) or app["can_manage"]) %}
      <div>
        <h3 class="govuk-heading-m" id="{{ a }}">
          {{ app["name"] }}
        </h3>
        {%- if app["description"] %}
        <p>
          {{ app["description"] }}
        </p>
        {%- endif %}
        <p>
          {%- if app["sign_in_url"] %}
            <a href="{{ app['sign_in_url'] }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">{{ app["button_text"] }}</a>
          {%- endif %}
          
          {%- if app["can_view"] %}
            &nbsp;
            <a href="/view?client_id={{ a }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">View configuration</a>
          {%- endif %}

          {%- if app["can_manage"] %}
            &nbsp;
            <a href="/manage?client_id={{ a }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Manage</a>
          {%- endif %}
        </p>
      </div>
      {%- endif %}
    {%- endfor %}
  {%- else %}
    <p>No applications available</p>
  {%- endif %}
  </div>

</main>
{% endblock %}
