{% extends "_primary.html" %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Single Sign-On</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Error</li>
  </ol>
</div>

<main class="govuk-main-wrapper govuk-body " id="main-content" role="main">
  <div>
    <div class="govuk-panel govuk-panel--error">
      <h1 class="govuk-panel__title">
        {{ title or "Something went wrong." }}
      </h1>
    </div>
    <p>&nbsp;</p>
    <p>
    {%- if message %}
      {{ message }}
      <br>
    {%- endif %}

    {%- if try_again_url and not try_again_url.startswith('/error') and not try_again_url == '/' %}
      <a href="{{ try_again_url }}">Try again</a> or <a href="/">go to the SSO dashboard</a>.
    {%- else %}
      <a href="/">Go to the SSO dashboard</a>.
    {%- endif %}
    </p>
  </div>

</main>
{% endblock %}
