{% extends "_primary.html" %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Single Sign-On</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Terms of Service</li>
  </ol>
</div>

<main class="govuk-main-wrapper govuk-body " id="main-content" role="main">
  <h2 class="govuk-heading-l">Terms of Service</h2>

  <div>
    <p>
      Last update: 12 October 2022
    </p>
    <p>
      This service is currently in alpha and the terms of service are not yet available. Access should only be attempted by authorised users.
    </p>
  </div>

</main>
{% endblock %}
